#Simulation parameters
SIM_PARAM,MCS_HOUR_EST,269
SIM_PARAM,MAX_HOURS,60
SIM_PARAM,PIXEL_SCALE,2
SIM_PARAM,FPS,60
SIM_PARAM,BOLTZ_TEMP,10
SIM_PARAM,LAMBDA,0.021
#
#######################################
# Cell Types
#
# Boundary
#
CELL_TYPE,0
J,0.0:0.0:1000000.0
DO_DIVIDE,0
IS_STATIC,1
IGNORE_VOLUME,1
COLOUR,0
END_TYPE
#
# Empty Space
#
CELL_TYPE,1
J,0.0:0.0:5.0
DO_DIVIDE,0
IS_STATIC,0
IGNORE_VOLUME,1
COLOUR,1
END_TYPE
#
# HeLa
#
CELL_TYPE,2
J,1000000.0:5.0:8.536
DO_DIVIDE,1
IS_STATIC,0
IGNORE_VOLUME,0
DIV_MEAN,18.23
DIV_SD,1.789
DIV_TYPE,2
DIV_MIN_VOL,316
DIV_MIN_RATIO,1.18
COLOUR,2
END_TYPE
#
#######################################
# Supercell Templates
#
# Boundary
#
TEMPLATE,0
TYPE,0
SPECIAL,1
END_TEMPLATE
#
# Empty Space
#
TEMPLATE,1
TYPE,1
SPECIAL,2
END_TEMPLATE
#
# HeLa
#
TEMPLATE,2
TYPE,2
VOLUME,511
END_TEMPLATE
#
#######################################
# Map image colours to templates
#
# Boundary
#
MAP_TEMPLATE,255,0
#
# Empty Space
#
MAP_TEMPLATE,0,1
#
# HeLa
#
MAP_TEMPLATE,1,2,69
#
#######################################
# Colour Generator options
#
# Boundary
#
COLOUR_SCHEME,0
R,255,255
G,255,255
B,255,255
END_COLOUR
#
# Empty Space
#
COLOUR_SCHEME,1
R,0,0
G,0,0
B,0,0
END_COLOUR
#
# HeLa
#
COLOUR_SCHEME,2
R,170,230
G,180,240
B,40,90
END_COLOUR